MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=replace_with_minio_secret

SNOWFLAKE_ACCOUNT=replace_with_snowflake_account
SNOWFLAKE_USER=replace_with_snowflake_user
SNOWFLAKE_PASSWORD=replace_with_snowflake_password
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=replace_with_snowflake_warehouse
SNOWFLAKE_DATABASE=yellow_taxi
SNOWFLAKE_SCHEMA=data_schema

AIRFLOW_JWT_SECRET=replace_with_jwt_secret
AIRFLOW_FERNET_KEY=replace_with_fernet_key
BREVO_SMTP_KEY=replace_with_brevo_smtp_key
BREVO_SMTP_LOGIN=replace_with_brevo_smtp_login